/* GERAL */
* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
}
body {
  background: linear-gradient(to left, rgb(47, 6, 82), rgb(20, 20, 88));
}
/* ============================================== */

.section_login {
  display: flex;
  justify-content: center;
}

.borda-users {
  width: 32vw !important;
  height: 52vw !important;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.41);
  margin: 1.8%;
}

.escolher-img {
  width: 18vw;
  height: 5vh;
  border-radius: 35px;
  background: #fff;
  box-shadow: 20px 20px 25px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-left: 22%;
  margin-bottom: 5%;
}
.escolher-img p {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.name-user {
  width: 16vw;
  height: 8vh;
  color: #fff;
  margin-left: 10%;
  margin-bottom: 5%;
}
.name-user h1 {
  margin-right: 26%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400px;
}

.borde-name-users {
  margin-top: 2%;

  width: 18vw;
  height: 6vh;
  border-radius: 15px;
  background: #d9d9d9;
  justify-items: center;

  /*sombreado*/
  box-shadow: 10px 10px 10px 0 rgb(49, 18, 135, 0.5);
  margin-left: 20%;
  color: black;
  margin-bottom: 5%;
  padding-left: 1rem;
}

.email {
  width: 16vw;
  height: 8vh;
  color: #fff;
  margin-left: 15%;
  margin-bottom: 5%;
}

.email h1 {
  margin-right: 26%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400px;
}

.borde-email {
  margin-top: 2%;

  width: 18vw;
  height: 6vh;
  border-radius: 15px;
  background: #d9d9d9;
  justify-items: center;

  /*sombreado*/
  box-shadow: 10px 10px 10px 0 rgb(49, 18, 135, 0.5);
  margin-left: 20%;
  color: black;
  margin-bottom: 5%;
  padding-left: 1rem;
}

.senha {
  width: 16vw;
  height: 8vh;
  color: #fff;
  margin-left: 10%;
  margin-bottom: 5%;
}

.senha h1 {
  margin-right: 26%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400px;
}

.borde-senha {
  margin-top: 2%;

  width: 18vw;
  height: 6vh;
  border-radius: 15px;
  background: #d9d9d9;
  justify-items: center;

  /*sombreado*/
  box-shadow: 10px 10px 10px 0 rgb(49, 18, 135, 0.5);
  margin-left: 20%;
  color: black;
  margin-bottom: 5%;
  padding-left: 1rem;
}

.retry-senha {
  width: 16vw;
  height: 2vh;
  color: #fff;
  margin: 10%;
  box-shadow: 3px black;
}
.retry-senha h1 {
  margin-right: 26%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400px;
}

.borde-retry-senha {
  margin-top: 2%;

  width: 18vw;
  height: 6vh;
  border-radius: 15px;
  background: #d9d9d9;
  justify-items: center;

  /*sombreado*/
  box-shadow: 10px 10px 10px 0 rgb(49, 18, 135);
  opacity: 0.5px;
  margin-left: 20%;
  color: black;
  margin-bottom: 15%;
  padding-left: 1rem;
}

.button-cadastrar {
  width: 10vw;
  height: 5vh;
  border-radius: 25px;
  background: #29ce58;
  box-shadow: 20px 20px 25px 0px rgba(0, 0, 0, 0.25);
  /* margin: 0 auto 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  margin-left: 35%;
}

.button-cadastrar p {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button-cancelar {
  width: 7vw;
  height: 3vh;
  border-radius: 25px;
  background: rgb(208, 14, 0);
  box-shadow: 20px 20px 25px 0px rgba(0, 0, 0, 0.25);
  /* margin: 0 auto 0 auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40%;
  margin-top: 5%;
}

.button-cancelar p {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
