/* HEADER */
.testeHeader {
    /* background-color: red; */
    border: 2px 1px 1px 0px black solid;
    border-radius: 15px;
    box-shadow: 2px 2px 3px slateblue;
    width: 99vw;
    margin-left: 0.25%;
    margin-top: 0.5%;
    display: flex;
  }
  .logoHeader {
    background-color: white;
    margin: 1rem;
    width: 35vw;
    height: 18vh;
    border-radius: 25px;
  }
  .div_topHeader_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    width: 40vw;
  }
  .div_tH_btns {
    width: 5vw !important;
    height: 4vh;
    box-shadow: 4px 4px 4px 0px purple;
    margin: 2%;
    cursor: pointer;
  }
  span {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
  }
  .div_tH_login {
    display: grid;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */
    cursor: pointer;width: 25vw;
  }
  .imgUser{
    height: 20vh;
  }
  .span_cadastrar {
    color: aquamarine;
    margin-left: 23%;
    margin-top: 1%;
    margin-bottom: 10px;
  }
  
  /* SECTION */
  section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.5%;
  }
  .input_busca{
    width: 35vw;
    height: 4vh;
    border: 2 solid black;
    box-shadow: 3px black;
    border-radius: 15px;
  }
  /* FOOTER */
  footer{
    background: red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .div_footer{
    display: flex;
    align-items: center;
    justify-content: center;
  }