.section_grid_main {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 2fr 1fr;
  border: 2px solid rgb(77, 29, 77);
  box-shadow: 3px 3px 10px slateblue;
}
.header_grid_logo {
  display: flex;
  justify-content: center;
}
.header_grid_logo img {
  height: 15vh;
}
.header_grid_btns {
  display: flex;
  justify-content: center;
}
.d_tH_btns {
  box-shadow: 4px 4px 4px 0px purple;
  height: 5vh;
  width: 15vh;
  margin: 10% 2% 2% 2%;
  cursor: pointer;
}
.d_tH_btns span {
  color: black;
}
.header_grid_user {
}
.header_grid_user img {
  height: 10vh;
}
